name: flimer
description: Flutter plugin for picking images on Mobile, Desktop and Web.
version: 1.0.2
homepage: https://github.com/eyro-labs/flimer

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  cross_file: ^0.3.1+4
  image_picker: ^0.8.2
  image_picker_platform_interface: ^2.2.0
  file_selector: ^0.8.2
  file_selector_platform_interface: ^2.0.2
  file_selector_macos: ^0.0.4+1
  file_selector_windows: ^0.0.2+1
  file_selector_linux: ^0.0.2+1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.mesosfer.flimer
        pluginClass: FlimerPlugin
      ios:
        pluginClass: FlimerPlugin
      web:
        pluginClass: FlimerHtml
        fileName: flimer_html.dart
      macos:
        dartPluginClass: Flimer
        pluginClass: none
      windows:
        dartPluginClass: Flimer
        pluginClass: none
      linux:
        dartPluginClass: Flimer
        pluginClass: none
